In [1]:
import model

In [2]:
data_path = "H-1B_2017.csv"

In [3]:
raw_df = model.create_df(data_path)
df = model.clean_data(raw_df, False)

/home/ji/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/home/ji/Downloads/create_features_DF.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['CASE_STATUS'] = (df['CASE_STATUS'] == 'DENIED').astype(int)

In [4]:
df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
194,I-200-09209-039181,0,09/27/2016,10/03/2016,H-1B,10/01/2016,09/20/2019,CLOUDWICK TECHNOLOGIES INC.,NaN,39899 BALENTINE DRIVE,...,1,0,Y,Y,NaN,MOUNTAIN VIEW,SANTA CLARA,CA,94040,NaN
195,I-200-16266-171133,0,09/27/2016,10/03/2016,H-1B,09/27/2016,09/21/2019,TATA CONSULTANCY SERVICES LIMITED,NaN,9201 CORPORATE BOULEVARD,...,1,0,Y,M,NaN,HUDSON,SUMMIT,OH,44236,NaN
196,I-200-16266-208642,0,09/27/2016,10/03/2016,H-1B,03/27/2017,03/26/2020,"HEALTH MANAGEMENT SYSTEMS, INC.",NaN,5615 HIGH POINT DRIVE,...,0,0,M,M,NaN,IRVING,DALLAS,TX,75038,NaN
197,I-200-16263-193057,0,09/27/2016,10/03/2016,H-1B,03/15/2017,03/12/2020,"BLACKROCK INVESTMENT MANAGEMENT, LLC",NaN,40 EAST 52ND STREET,...,0,0,M,Y,NaN,SAN FRANCISCO,SAN FRANCISCO,CA,94105,NaN
198,I-200-16263-433294,0,09/27/2016,10/03/2016,H-1B,11/07/2016,08/31/2017,"UNIVERSITY OF CALIFORNIA, BERKELEY",NaN,BERKELEY INTERNATIONAL OFFICE,...,0,0,M,M,NaN,BERKELEY,ALAMEDA,CA,94720,NaN

In [5]:
y = df.CASE_STATUS.values

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.30, random_state=67, stratify=y)

In [8]:
X_t = model.create_features_df(X_train)

/home/ji/Downloads/create_features_DF.py:102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['per_employer']=df.groupby('EMPLOYER_NAME')['EMPLOYER_NAME'].transform('count')
/home/ji/Downloads/create_features_DF.py:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['per_employer_deny']=df.groupby('EMPLOYER_NAME')['CASE_STATUS'].transform('sum')
/home/ji/Downloads/create_features_DF.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['EMPLOYER_RATE']=df['per_employer_deny']/df['per_employer']
/home/ji/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/home/ji/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/ji/Downloads/create_features_DF.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['per_soc']=df.groupby('SOC_NAME')['SOC_NAME'].transform('count')
/home/ji/Downloads/create_features_DF.py:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['per_soc_deny']=df.groupby('SOC_NAME')['CASE_STATUS'].transform('sum')
/home/ji/Downloads/create_features_DF.py:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['SOC_RATE']=df['per_soc_deny']/df['per_soc']

In [9]:
X_t.head()

,CASE_STATUS,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_NAME,EMPLOYER_RATE,SOC_NAME,SOC_RATE,STATE_AK,STATE_AL,...,STATE_WI,STATE_WV,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y
458202,0,1,1,0,"INFO LABS, INC.",0.000000,COMPUTER SYSTEMS ANALYSTS,0.009345,0,0,...,0,0,0,0,0,1,0,1,0,0
210107,0,1,0,0,"BOCOUP, LLC",0.034285,GRAPHIC DESIGNERS,0.031153,0,0,...,0,0,0,0,0,1,0,0,0,1
19604,0,1,1,0,TATA CONSULTANCY SERVICES LIMITED,0.002458,COMPUTER PROGRAMMERS,0.008761,0,0,...,0,0,0,0,0,1,0,1,0,0
442735,0,0,1,0,"CONCEPTS INFORMATION TECHNOLOGY, INC",0.000000,COMPUTER SYSTEMS ANALYSTS,0.009345,0,0,...,0,0,0,0,0,1,1,0,0,1
577271,0,1,0,0,DELOITTE CONSULTING LLP,0.021560,COMPUTER AND INFORMATION SYSTEMS MANAGERS,0.014541,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_save_em=X_t[['EMPLOYER_NAME','EMPLOYER_RATE']]

In [11]:
df_save_so=X_t[['SOC_NAME','SOC_RATE']]

In [12]:
import pandas as pd
def create_features_test(df):
    
    '''
    dummy-ize variables: ???
    input: dataframe
    returns: features dataframe for use in prediction model
    
    '''

    ''' Columns to keep '''
    

    columns_to_keep_03=['CASE_STATUS', 'AGENT_REPRESENTING_EMPLOYER', 'FULL_TIME_POSITION', 'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE', 'WORKSITE_STATE', 'EMPLOYER_NAME', 'SOC_NAME']
    df=df[columns_to_keep_03]
    
    
    
    df_dum_ST = pd.get_dummies(df.WORKSITE_STATE,dummy_na=True)
    df_dum_ST.apply(lambda x: x.value_counts())
    df_dum_ST.columns = map(lambda x: 'STATE_' + str(x), df_dum_ST.columns)

    df_dum_AGENT = pd.get_dummies(df.AGENT_REPRESENTING_EMPLOYER)
    df_dum_AGENT.apply(lambda x: x.value_counts())
    df_dum_AGENT.columns = map(lambda x: 'AGENT_' + str(x), df_dum_AGENT.columns)
    
    df_dum_SUPPORT = pd.get_dummies(df.SUPPORT_H1B)
    df_dum_SUPPORT.apply(lambda x: x.value_counts())
    df_dum_SUPPORT.columns = map(lambda x: 'SUPPORT_' + str(x), df_dum_SUPPORT.columns)
    
    df_dum_LABOR = pd.get_dummies(df.LABOR_CON_AGREE)
    df_dum_LABOR.apply(lambda x: x.value_counts())
    df_dum_LABOR.columns = map(lambda x: 'LABOR_' + str(x), df_dum_LABOR.columns)
    
    df_for_model = pd.concat([df, df_dum_ST, df_dum_AGENT, df_dum_SUPPORT, df_dum_LABOR], axis=1)

    df_for_model.drop(['STATE_CA','WORKSITE_STATE','AGENT_REPRESENTING_EMPLOYER',
                       'SUPPORT_H1B','LABOR_CON_AGREE','AGENT_M','SUPPORT_M','LABOR_M'], inplace=True, axis=1, errors='ignore')
    
    return df_for_model

In [13]:
X_test_1=create_features_test(X_test)

In [14]:
X_test_1.head()

,CASE_STATUS,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_NAME,SOC_NAME,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,...,STATE_WI,STATE_WV,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y
222268,0,1,0,0,"BAIG DENTAL GROUP, PC","DENTISTS, GENERAL",0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
422385,0,1,0,0,"NETAPP, INC.","SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
564464,0,1,1,0,TATA CONSULTANCY SERVICES LIMITED,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6090,0,1,0,0,"TRW AUTOMOTIVE, INC.",ELECTRICAL ENGINEERS,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
403535,0,1,1,0,"QUALCOMM TECHNOLOGIES, INC.","ELECTRONICS ENGINEERS, EXCEPT COMPUTER",0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [15]:
df_save_em.count()

EMPLOYER_NAME    378743
EMPLOYER_RATE    378771
dtype: int64

In [16]:
group=dict(zip(df_save_em.EMPLOYER_NAME,df_save_em.EMPLOYER_RATE))

In [17]:
len(group)

52909

In [18]:
X_test_1['EMPLOYER_RATE'] = X_test_1['EMPLOYER_NAME'].map(group, na_action=None)

In [19]:
X_test_1.head()

,CASE_STATUS,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_NAME,SOC_NAME,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,...,STATE_WV,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y,EMPLOYER_RATE
222268,0,1,0,0,"BAIG DENTAL GROUP, PC","DENTISTS, GENERAL",0,0,0,0,...,0,0,0,0,1,0,0,0,1,0.034285
422385,0,1,0,0,"NETAPP, INC.","SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",0,0,0,0,...,0,0,0,0,1,0,0,0,0,0.017442
564464,0,1,1,0,TATA CONSULTANCY SERVICES LIMITED,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0.002458
6090,0,1,0,0,"TRW AUTOMOTIVE, INC.",ELECTRICAL ENGINEERS,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0.000000
403535,0,1,1,0,"QUALCOMM TECHNOLOGIES, INC.","ELECTRONICS ENGINEERS, EXCEPT COMPUTER",0,0,0,0,...,0,0,0,0,1,0,1,0,0,0.025090

In [23]:
X_test_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162331 entries, 222268 to 73902
Data columns (total 68 columns):
CASE_STATUS           162331 non-null int64
FULL_TIME_POSITION    162331 non-null int64
H1B_DEPENDENT         162331 non-null int64
WILLFUL_VIOLATOR      162331 non-null int64
EMPLOYER_NAME         162331 non-null object
SOC_NAME              162331 non-null object
STATE_AK              162331 non-null uint8
STATE_AL              162331 non-null uint8
STATE_AR              162331 non-null uint8
STATE_AZ              162331 non-null uint8
STATE_CO              162331 non-null uint8
STATE_CT              162331 non-null uint8
STATE_DC              162331 non-null uint8
STATE_DE              162331 non-null uint8
STATE_FL              162331 non-null uint8
STATE_GA              162331 non-null uint8
STATE_GU              162331 non-null uint8
STATE_HI              162331 non-null uint8
STATE_IA              162331 non-null uint8
STATE_ID              162331 non-null uint8
STATE_IL              162331 non-null uint8
STATE_IN              162331 non-null uint8
STATE_KS              162331 non-null uint8
STATE_KY              162331 non-null uint8
STATE_LA              162331 non-null uint8
STATE_MA              162331 non-null uint8
STATE_MD              162331 non-null uint8
STATE_ME              162331 non-null uint8
STATE_MI              162331 non-null uint8
STATE_MN              162331 non-null uint8
STATE_MO              162331 non-null uint8
STATE_MP              162331 non-null uint8
STATE_MS              162331 non-null uint8
STATE_MT              162331 non-null uint8
STATE_NC              162331 non-null uint8
STATE_ND              162331 non-null uint8
STATE_NE              162331 non-null uint8
STATE_NH              162331 non-null uint8
STATE_NJ              162331 non-null uint8
STATE_NM              162331 non-null uint8
STATE_NV              162331 non-null uint8
STATE_NY              162331 non-null uint8
STATE_OH              162331 non-null uint8
STATE_OK              162331 non-null uint8
STATE_OR              162331 non-null uint8
STATE_PA              162331 non-null uint8
STATE_PR              162331 non-null uint8
STATE_RI              162331 non-null uint8
STATE_SC              162331 non-null uint8
STATE_SD              162331 non-null uint8
STATE_TN              162331 non-null uint8
STATE_TX              162331 non-null uint8
STATE_UT              162331 non-null uint8
STATE_VA              162331 non-null uint8
STATE_VI              162331 non-null uint8
STATE_VT              162331 non-null uint8
STATE_WA              162331 non-null uint8
STATE_WI              162331 non-null uint8
STATE_WV              162331 non-null uint8
STATE_WY              162331 non-null uint8
STATE_nan             162331 non-null uint8
AGENT_N               162331 non-null uint8
AGENT_Y               162331 non-null uint8
SUPPORT_N             162331 non-null uint8
SUPPORT_Y             162331 non-null uint8
LABOR_N               162331 non-null uint8
LABOR_Y               162331 non-null uint8
EMPLOYER_RATE         162331 non-null float64
dtypes: float64(1), int64(4), object(2), uint8(61)
memory usage: 19.4+ MB

In [21]:
X_test_1.fillna(y_train.mean(), inplace=True)

In [22]:
y_train.mean()

0.013826296099754205

In [24]:
df_save_so.count()

SOC_NAME    378771
SOC_RATE    378771
dtype: int64

In [26]:
group=dict(zip(df_save_so.SOC_NAME,df_save_so.SOC_RATE))

In [27]:
len(group)

737

In [28]:
X_test_1['SOC_RATE'] = X_test_1['SOC_NAME'].map(group, na_action=None)

In [29]:
X_test_1.head()

,CASE_STATUS,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_NAME,SOC_NAME,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,...,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y,EMPLOYER_RATE,SOC_RATE
222268,0,1,0,0,"BAIG DENTAL GROUP, PC","DENTISTS, GENERAL",0,0,0,0,...,0,0,0,1,0,0,0,1,0.034285,0.021592
422385,0,1,0,0,"NETAPP, INC.","SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",0,0,0,0,...,0,0,0,1,0,0,0,0,0.017442,0.013827
564464,0,1,1,0,TATA CONSULTANCY SERVICES LIMITED,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,0,0,0,0,...,0,0,0,0,0,1,0,0,0.002458,0.009920
6090,0,1,0,0,"TRW AUTOMOTIVE, INC.",ELECTRICAL ENGINEERS,0,0,0,0,...,0,0,0,1,0,0,0,0,0.000000,0.020307
403535,0,1,1,0,"QUALCOMM TECHNOLOGIES, INC.","ELECTRONICS ENGINEERS, EXCEPT COMPUTER",0,0,0,0,...,0,0,0,1,0,1,0,0,0.025090,0.015510

In [30]:
X_test_1.columns

Index(['CASE_STATUS', 'FULL_TIME_POSITION', 'H1B_DEPENDENT',
       'WILLFUL_VIOLATOR', 'EMPLOYER_NAME', 'SOC_NAME', 'STATE_AK', 'STATE_AL',
       'STATE_AR', 'STATE_AZ', 'STATE_CO', 'STATE_CT', 'STATE_DC', 'STATE_DE',
       'STATE_FL', 'STATE_GA', 'STATE_GU', 'STATE_HI', 'STATE_IA', 'STATE_ID',
       'STATE_IL', 'STATE_IN', 'STATE_KS', 'STATE_KY', 'STATE_LA', 'STATE_MA',
       'STATE_MD', 'STATE_ME', 'STATE_MI', 'STATE_MN', 'STATE_MO', 'STATE_MP',
       'STATE_MS', 'STATE_MT', 'STATE_NC', 'STATE_ND', 'STATE_NE', 'STATE_NH',
       'STATE_NJ', 'STATE_NM', 'STATE_NV', 'STATE_NY', 'STATE_OH', 'STATE_OK',
       'STATE_OR', 'STATE_PA', 'STATE_PR', 'STATE_RI', 'STATE_SC', 'STATE_SD',
       'STATE_TN', 'STATE_TX', 'STATE_UT', 'STATE_VA', 'STATE_VI', 'STATE_VT',
       'STATE_WA', 'STATE_WI', 'STATE_WV', 'STATE_WY', 'STATE_nan', 'AGENT_N',
       'AGENT_Y', 'SUPPORT_N', 'SUPPORT_Y', 'LABOR_N', 'LABOR_Y',
       'EMPLOYER_RATE', 'SOC_RATE'],
      dtype='object')

In [34]:
set(X_t.columns)-set(X_test_1.columns)

{'STATE_FM', 'STATE_PW'}

In [35]:
missing_cols = set(X_t.columns)-set(X_test_1.columns)
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    X_test_1[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
X_test_1 = X_test_1[X_t.columns]

In [53]:
X_test_1.drop(['EMPLOYER_NAME','SOC_NAME','CASE_STATUS'], inplace=True, axis=1)

KeyError: "labels ['EMPLOYER_NAME' 'SOC_NAME'] not contained in axis"

In [54]:
X_test_1.drop(['CASE_STATUS'], inplace=True, axis=1)

In [43]:
X_t.drop(['EMPLOYER_NAME','SOC_NAME', 'CASE_STATUS'], inplace=True, axis=1)

In [55]:
X_t.drop(['CASE_STATUS'], inplace=True, axis=1)

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rfc = RandomForestClassifier(n_estimators=500, n_jobs=-1)
rfc.fit(X_t, y_train)

In [47]:
X_test_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162331 entries, 222268 to 73902
Data columns (total 69 columns):
CASE_STATUS           162331 non-null int64
FULL_TIME_POSITION    162331 non-null int64
H1B_DEPENDENT         162331 non-null int64
WILLFUL_VIOLATOR      162331 non-null int64
EMPLOYER_RATE         162331 non-null float64
SOC_RATE              162264 non-null float64
STATE_AK              162331 non-null uint8
STATE_AL              162331 non-null uint8
STATE_AR              162331 non-null uint8
STATE_AZ              162331 non-null uint8
STATE_CO              162331 non-null uint8
STATE_CT              162331 non-null uint8
STATE_DC              162331 non-null uint8
STATE_DE              162331 non-null uint8
STATE_FL              162331 non-null uint8
STATE_FM              162331 non-null int64
STATE_GA              162331 non-null uint8
STATE_GU              162331 non-null uint8
STATE_HI              162331 non-null uint8
STATE_IA              162331 non-null uint8
STATE_ID              162331 non-null uint8
STATE_IL              162331 non-null uint8
STATE_IN              162331 non-null uint8
STATE_KS              162331 non-null uint8
STATE_KY              162331 non-null uint8
STATE_LA              162331 non-null uint8
STATE_MA              162331 non-null uint8
STATE_MD              162331 non-null uint8
STATE_ME              162331 non-null uint8
STATE_MI              162331 non-null uint8
STATE_MN              162331 non-null uint8
STATE_MO              162331 non-null uint8
STATE_MP              162331 non-null uint8
STATE_MS              162331 non-null uint8
STATE_MT              162331 non-null uint8
STATE_NC              162331 non-null uint8
STATE_ND              162331 non-null uint8
STATE_NE              162331 non-null uint8
STATE_NH              162331 non-null uint8
STATE_NJ              162331 non-null uint8
STATE_NM              162331 non-null uint8
STATE_NV              162331 non-null uint8
STATE_NY              162331 non-null uint8
STATE_OH              162331 non-null uint8
STATE_OK              162331 non-null uint8
STATE_OR              162331 non-null uint8
STATE_PA              162331 non-null uint8
STATE_PR              162331 non-null uint8
STATE_PW              162331 non-null int64
STATE_RI              162331 non-null uint8
STATE_SC              162331 non-null uint8
STATE_SD              162331 non-null uint8
STATE_TN              162331 non-null uint8
STATE_TX              162331 non-null uint8
STATE_UT              162331 non-null uint8
STATE_VA              162331 non-null uint8
STATE_VI              162331 non-null uint8
STATE_VT              162331 non-null uint8
STATE_WA              162331 non-null uint8
STATE_WI              162331 non-null uint8
STATE_WV              162331 non-null uint8
STATE_WY              162331 non-null uint8
STATE_nan             162331 non-null uint8
AGENT_N               162331 non-null uint8
AGENT_Y               162331 non-null uint8
SUPPORT_N             162331 non-null uint8
SUPPORT_Y             162331 non-null uint8
LABOR_N               162331 non-null uint8
LABOR_Y               162331 non-null uint8
dtypes: float64(2), int64(6), uint8(61)
memory usage: 20.6 MB

In [48]:
X_test_1.fillna(y_train.mean(), inplace=True)

In [49]:
rfc.score(X_test_1, y_test)

1.0

In [51]:
import sklearn.metrics as skm
import pandas as pd
pd.crosstab(y_test, rfc.predict(X_test_1))

col_0       0     1
row_0
0      160087     0
1           0  2244

In [52]:
skm.roc_auc_score(y_test,rfc.predict_proba(X_test_1)[:,1])

1.0