In [1]:
import create_features_DF

In [2]:
    cvs_path = "H-1B_2017.csv"
    new_df = create_features_DF.create_df(cvs_path)
    new_df = create_features_DF.clean_data(new_df)

/home/ji/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/home/ji/Downloads/create_features_DF.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['CASE_STATUS'] = (df['CASE_STATUS'] == 'DENIED').astype(int)

In [3]:
new_df.CASE_STATUS.value_counts()

0    533621
1      7481
Name: CASE_STATUS, dtype: int64

In [4]:
#first model
columns_to_keep_00=['CASE_STATUS', 'AGENT_REPRESENTING_EMPLOYER', 'FULL_TIME_POSITION', 'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'LABOR_CON_AGREE']

In [5]:
for i in columns_to_keep_00:
    print(new_df[i].value_counts())
    print(new_df[i].isnull().sum())
    print()

0    533621
1      7481
Name: CASE_STATUS, dtype: int64
0

Y    309938
N    148486
M     82678
Name: AGENT_REPRESENTING_EMPLOYER, dtype: int64
0

1    528973
0     12129
Name: FULL_TIME_POSITION, dtype: int64
0

0    330845
1    210257
Name: H1B_DEPENDENT, dtype: int64
0

0    540767
1       335
Name: WILLFUL_VIOLATOR, dtype: int64
0

M    325442
Y    208698
N      6962
Name: SUPPORT_H1B, dtype: int64
0

M    325761
Y    205517
N      9824
Name: LABOR_CON_AGREE, dtype: int64
0

In [6]:
new_df.head()

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,WORKSITE_STATE,EMPLOYER_RATE,SOC_RATE
194,0,Y,1,1,0,Y,Y,CA,0.000000,0.010560
195,0,Y,1,1,0,Y,M,OH,0.002081,0.006761
196,0,Y,1,0,0,M,M,TX,0.000000,0.010560
197,0,Y,1,0,0,M,Y,CA,0.019231,0.010560
198,0,N,1,0,0,M,M,CA,0.000000,0.027473

In [7]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541102 entries, 194 to 624649
Data columns (total 10 columns):
CASE_STATUS                    541102 non-null int64
AGENT_REPRESENTING_EMPLOYER    541102 non-null object
FULL_TIME_POSITION             541102 non-null int64
H1B_DEPENDENT                  541102 non-null int64
WILLFUL_VIOLATOR               541102 non-null int64
SUPPORT_H1B                    541102 non-null object
LABOR_CON_AGREE                541102 non-null object
WORKSITE_STATE                 541095 non-null object
EMPLOYER_RATE                  541102 non-null float64
SOC_RATE                       541102 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 45.4+ MB

In [8]:
get_dummies = create_features_DF.create_features_df(new_df)

In [9]:
get_dummies.columns

Index(['CASE_STATUS', 'FULL_TIME_POSITION', 'H1B_DEPENDENT',
       'WILLFUL_VIOLATOR', 'EMPLOYER_RATE', 'SOC_RATE', 'STATE_AK', 'STATE_AL',
       'STATE_AR', 'STATE_AZ', 'STATE_CO', 'STATE_CT', 'STATE_DC', 'STATE_DE',
       'STATE_FL', 'STATE_FM', 'STATE_GA', 'STATE_GU', 'STATE_HI', 'STATE_IA',
       'STATE_ID', 'STATE_IL', 'STATE_IN', 'STATE_KS', 'STATE_KY', 'STATE_LA',
       'STATE_MA', 'STATE_MD', 'STATE_ME', 'STATE_MI', 'STATE_MN', 'STATE_MO',
       'STATE_MP', 'STATE_MS', 'STATE_MT', 'STATE_NC', 'STATE_ND', 'STATE_NE',
       'STATE_NH', 'STATE_NJ', 'STATE_NM', 'STATE_NV', 'STATE_NY', 'STATE_OH',
       'STATE_OK', 'STATE_OR', 'STATE_PA', 'STATE_PR', 'STATE_PW', 'STATE_RI',
       'STATE_SC', 'STATE_SD', 'STATE_TN', 'STATE_TX', 'STATE_UT', 'STATE_VA',
       'STATE_VI', 'STATE_VT', 'STATE_WA', 'STATE_WI', 'STATE_WV', 'STATE_WY',
       'STATE_nan', 'AGENT_N', 'AGENT_Y', 'SUPPORT_N', 'SUPPORT_Y', 'LABOR_N',
       'LABOR_Y'],
      dtype='object')

In [10]:
get_dummies.head()

,CASE_STATUS,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_RATE,SOC_RATE,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,...,STATE_WI,STATE_WV,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y
194,0,1,1,0,0.000000,0.010560,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
195,0,1,1,0,0.002081,0.006761,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
196,0,1,0,0,0.000000,0.010560,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
197,0,1,0,0,0.019231,0.010560,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
198,0,1,0,0,0.000000,0.027473,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [11]:
get_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541102 entries, 194 to 624649
Data columns (total 69 columns):
CASE_STATUS           541102 non-null int64
FULL_TIME_POSITION    541102 non-null int64
H1B_DEPENDENT         541102 non-null int64
WILLFUL_VIOLATOR      541102 non-null int64
EMPLOYER_RATE         541102 non-null float64
SOC_RATE              541102 non-null float64
STATE_AK              541102 non-null uint8
STATE_AL              541102 non-null uint8
STATE_AR              541102 non-null uint8
STATE_AZ              541102 non-null uint8
STATE_CO              541102 non-null uint8
STATE_CT              541102 non-null uint8
STATE_DC              541102 non-null uint8
STATE_DE              541102 non-null uint8
STATE_FL              541102 non-null uint8
STATE_FM              541102 non-null uint8
STATE_GA              541102 non-null uint8
STATE_GU              541102 non-null uint8
STATE_HI              541102 non-null uint8
STATE_IA              541102 non-null uint8
STATE_ID              541102 non-null uint8
STATE_IL              541102 non-null uint8
STATE_IN              541102 non-null uint8
STATE_KS              541102 non-null uint8
STATE_KY              541102 non-null uint8
STATE_LA              541102 non-null uint8
STATE_MA              541102 non-null uint8
STATE_MD              541102 non-null uint8
STATE_ME              541102 non-null uint8
STATE_MI              541102 non-null uint8
STATE_MN              541102 non-null uint8
STATE_MO              541102 non-null uint8
STATE_MP              541102 non-null uint8
STATE_MS              541102 non-null uint8
STATE_MT              541102 non-null uint8
STATE_NC              541102 non-null uint8
STATE_ND              541102 non-null uint8
STATE_NE              541102 non-null uint8
STATE_NH              541102 non-null uint8
STATE_NJ              541102 non-null uint8
STATE_NM              541102 non-null uint8
STATE_NV              541102 non-null uint8
STATE_NY              541102 non-null uint8
STATE_OH              541102 non-null uint8
STATE_OK              541102 non-null uint8
STATE_OR              541102 non-null uint8
STATE_PA              541102 non-null uint8
STATE_PR              541102 non-null uint8
STATE_PW              541102 non-null uint8
STATE_RI              541102 non-null uint8
STATE_SC              541102 non-null uint8
STATE_SD              541102 non-null uint8
STATE_TN              541102 non-null uint8
STATE_TX              541102 non-null uint8
STATE_UT              541102 non-null uint8
STATE_VA              541102 non-null uint8
STATE_VI              541102 non-null uint8
STATE_VT              541102 non-null uint8
STATE_WA              541102 non-null uint8
STATE_WI              541102 non-null uint8
STATE_WV              541102 non-null uint8
STATE_WY              541102 non-null uint8
STATE_nan             541102 non-null uint8
AGENT_N               541102 non-null uint8
AGENT_Y               541102 non-null uint8
SUPPORT_N             541102 non-null uint8
SUPPORT_Y             541102 non-null uint8
LABOR_N               541102 non-null uint8
LABOR_Y               541102 non-null uint8
dtypes: float64(2), int64(4), uint8(63)
memory usage: 61.4 MB

In [12]:
import model

In [13]:
data_path = "H-1B_2017.csv"

In [14]:
model_new= model.Model(data_path)

In [15]:
X,y = model_new.get_data()

/home/ji/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: DtypeWarning: Columns (14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ji/Downloads/create_features_DF.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['CASE_STATUS'] = (df['CASE_STATUS'] == 'DENIED').astype(int)

In [16]:
X.head()

,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_RATE,SOC_RATE,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,STATE_CO,...,STATE_WI,STATE_WV,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y
194,1,1,0,0.000000,0.010560,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
195,1,1,0,0.002081,0.006761,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
196,1,0,0,0.000000,0.010560,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
197,1,0,0,0.019231,0.010560,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
198,1,0,0,0.000000,0.027473,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [6]:
y

array([0, 0, 0, ..., 0, 0, 0])

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=67, stratify=y)

In [18]:
X_train.head()

,FULL_TIME_POSITION,H1B_DEPENDENT,WILLFUL_VIOLATOR,EMPLOYER_RATE,SOC_RATE,STATE_AK,STATE_AL,STATE_AR,STATE_AZ,STATE_CO,...,STATE_WI,STATE_WV,STATE_WY,STATE_nan,AGENT_N,AGENT_Y,SUPPORT_N,SUPPORT_Y,LABOR_N,LABOR_Y
458202,1,1,0,0.000000,0.009390,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
210107,1,0,0,0.036456,0.033538,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
19604,1,1,0,0.002081,0.008715,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
442735,0,1,0,0.000000,0.009390,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
577271,1,0,0,0.020379,0.015436,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
model_new.fit(X_train, y_train)

In [12]:
model_new.model.score(X_test, y_test)

0.9861332709094381

In [11]:
import pandas as pd
pd.crosstab(y_test, model_new.model.predict(X_test))

col_0       0  1
row_0
0      160078  9
1        2242  2

In [15]:
import sklearn.metrics as skm
skm.roc_auc_score(y_test,model_new.model.predict(X_test))

0.5004175230832317

In [16]:
model_new.model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [20]:
model_new.model.predict_proba(X_test)[:,1]

array([0.01906416, 0.0061664 , 0.00201041, ..., 0.02272154, 0.01595988,
       0.01083332])

In [21]:
skm.roc_auc_score(y_test,model_new.model.predict_proba(X_test)[:,1])

0.6818416427689548

In [21]:
import sklearn.metrics as skm
skm.roc_auc_score(y_test,model_new.model.predict_proba(X_test)[:,1])

0.7672900387152454

In [23]:
import pandas as pd
pd.crosstab(y_test, model_new.model.predict(X_test))

col_0       0    1
row_0
0      159529  558
1        2060  184